.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 8% 30px;
    background: #F5F5FA;
    gap: 30px;

    @media (min-width: 768px) {
        padding: 30px 7.813%;
        text-align: left;
    }

    @media (min-width: 1024px) {
        padding: 30px 5.86%;
    }

    @media (min-width: 1440px) {
        padding: 30px 4.167%;
    }

    @media (min-width: 1920px) {
        padding: 30px 8.334%;
        ;
    }

    .contacts {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 21px;
        border-top: 2px solid #E6E6F0;


        .contacts__wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media (min-width: 768px) {
                flex-direction: row;
                align-items: center;
            }

            .address {
                color: #323264;
            }

            .address:hover {
                color: #B3B3BA;
            }

            .dot-separator {
                display: none;

                @media (min-width: 768px) {
                    display: flex;
                }
            }

            .location {
                font-size: 0.75rem;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;

                .location__link {
                    color: #24A3FF;
                }

                .location__link:hover {
                    color: #F0145A;
                }
            }

            .social-network {
                display: flex;
                justify-content: center;
            }

            .social-network:hover path {
                fill: #F0145A;
            }

            .social-network__img {
                transform: rotate(-360deg);
                transition: 1.5s;
            }

            .social-network__img:hover {
                transform: rotate(360deg);
                transition: 1.5s;
            }

            .call {
                font-weight: 700;

                .call__link {
                    color: #46466E;
                }
            }

            .call:hover {
                transform: rotateY(360deg);
                transition: 1.5s;
            }

            .call:active .call__link {
                color: #F0145A;
            }

            .mail {
                font-weight: 700;

                .mail__link {
                    color: #24A3FF;
                }

                .mail__link:hover {
                    color: #F0145A;
                }
            }
        }
    }

    .policy {
        display: flex;
        justify-content: center;

        @media (min-width: 768px) {
            position: absolute;
            padding-top: 32px;
            right: 7.813%;
        }

        @media (min-width: 1024px) {
            right: 5.86%;
        }

        @media (min-width: 1440px) {
            right: 4.167%;
        }

        @media (min-width: 1920px) {
            right: 8.334%;
        }

        .policy__text {
            color: #B3B3BA;
        }

        .policy__text:hover {
            cursor: pointer;
        }
    }
}