@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

.menu__link {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
}

.menu__link:hover {
    color: #F0145A;
}

.menu__link:hover .menu__link-img path {
    stroke: #F0145A;
}

.switch {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;

    .switch__item {
        display: flex;
        align-items: center;

        .switch__img {
            fill: #24A3FF;
        }
    }

    #switch-dot-two {
        opacity: 0.2;
    }

    #switch-dot-three {
        opacity: 0.2;
    }
}

.services__title,
.team__quote,
.publications__title {
    background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.875rem;
    font-weight: 700;

    @media (min-width: 768px) {
        font-size: 2.375rem;
    }
}