.header {
    background-color: #323264;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .symbol {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;

            .symbol__item {
                width: 267px;
                height: 600px;
                transform: translateX(5.4%);

                @media (min-width: 768px) {
                    width: 456px;
                    height: 1024px;
                    transform: translateX(3.5%);
                }

                @media (min-width: 1024px) {
                    width: 342px;
                    height: 768px;
                    transform: translateX(4%);
                }

                @media (min-width: 1440px) {
                    width: 356px;
                    height: 799px;
                    transform: translateX(4%);
                }

                @media (min-width: 1920px) {
                    width: 445px;
                    height: 1000px;
                    transform: translateX(4%);
                }
            }

            .symbol__item--mod {
                width: 286px;
                height: 345px;
                transform: translateX(-35.5%);

                @media (min-width: 768px) {
                    width: 489px;
                    height: 589px;
                    transform: translateX(-37.3%);
                }

                @media (min-width: 1024px) {
                    width: 367px;
                    height: 442px;
                    transform: translateX(-36.8%);
                }

                @media (min-width: 1440px) {
                    width: 381px;
                    height: 459px;
                    transform: translateX(-36.8%);
                }

                @media (min-width: 1920px) {
                    width: 476px;
                    height: 574px;
                    transform: translateX(-37%);
                }
            }
        }

        .title {
            width: 84%;
            position: absolute;
            font-size: 2.375rem;
            font-weight: 700;
            text-align: center;
        }

        .button-scroll {
            top: 528px;
            position: absolute;
            transition: 0.5s;

            @media (min-width: 768px) {
                top: 952px;
            }

            @media (min-width: 1024px) {
                top: 696px;
            }

            @media (min-width: 1440px) {
                top: 727px;
            }

            @media (min-width: 1920px) {
                top: 928px;
            }
        }

        .button-scroll:hover {
            cursor: pointer;
        }

        .button-scroll:hover .button-scroll__img circle {
            @media (min-width: 768px) {
                stroke: #F0145A;
            }
        }

        .button-scroll:hover .button-scroll__img path {
            @media (min-width: 768px) {
                stroke: #F0145A;
            }
        }

        .button-scroll:active {
            transform: scale(0.9) translateY(20px);
            transition: 0.3s;
        }

        .button-scroll:active .button-scroll__img circle {
            stroke: #F0145A;
        }

        .button-scroll:active .button-scroll__img path {
            stroke: #F0145A;
        }
    }

    .contacts {
        width: 100%;
        padding: 10px 4%;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: rgba(245, 245, 250, 0.20);
        gap: 6px;
        z-index: 3;

        @media (min-width: 768px) {
            padding: 50px 7.813% 30px;
            background: none;
            justify-content: flex-start;
        }

        @media (min-width: 1024px) {
            padding: 50px 5.86% 0;
            justify-content: flex-end;
        }

        @media (min-width: 1440px) {
            padding: 50px 4.167% 0;
        }

        @media (min-width: 1920px) {
            padding: 50px 8.334% 0;
        }

        .lang {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            @media (min-width: 768px) {
                margin-right: 6.7%;
            }

            @media (min-width: 1024px) {
                margin-right: 0;
                justify-content: flex-end;
            }

            .lang__item {
                padding: 5px 12.57%;
                font-size: 0.75rem;
                font-weight: 700;
                letter-spacing: 1px;
                border-radius: 8px;
            }

            .lang__item:hover {
                cursor: pointer;
            }
        }

        .dot-separator {
            display: none;
            color: #E6E6F0;

            @media (min-width: 768px) {
                display: flex;
            }
        }

        .address {
            display: none;

            .address__link {
                color: #B3B3BA;
            }

            @media (min-width: 768px) {
                display: flex;
            }
        }

        .address__link:hover {
            color: #FFF;
        }

        .address__link:active {
            color: #F0145A;
        }

        .call {
            font-weight: 700;

            .call__link {
                color: #FFF;
            }
        }

        .call:hover {
            @media (min-width: 768px) {
                transform: rotateY(360deg);
                transition: 1.5s;
            }
        }

        .call:hover .call__link {
            @media (min-width: 768px) {
                color: #B3B3BA;
            }
        }

        .call:active .call__link {
            color: #F0145A;
        }

        .social-network {
            display: none;
            transform: rotate(360deg);
            transition: 1.5s;

            @media (min-width: 768px) {
                display: flex;
            }
        }

        .social-network:hover {
            transform: rotate(-360deg);
            transition: 1.5s;
        }

        .social-network:hover path {
            fill: #F0145A;
        }

        .social-network:active path {
            fill: #B3B3BA;
        }
    }

    .logotype {
        width: 100%;
        margin-top: 46px;
        padding: 15px 4% 10px;
        position: absolute;
        display: flex;
        align-items: flex-start;
        gap: 4px;

        @media (min-width: 768px) {
            align-items: flex-start;
            margin-top: 105px;
            padding: 0 7.813%;
        }

        @media (min-width: 1024px) {
            margin-top: 50px;
            padding: 0 5.86%;
        }

        @media (min-width: 1440px) {
            padding: 0 4.167%;
        }

        @media (min-width: 1920px) {
            padding: 0 8.334%;
        }

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 3.47px;

            @media (min-width: 768px) {
                gap: 6.5px;
            }

            .logo__item {
                display: flex;
                align-items: center;
                z-index: 4;

                .logo__img {
                    @media (min-width: 768px) {
                        width: 130px;
                        height: 47px;
                    }
                }

                .logo__text {
                    @media (min-width: 768px) {
                        width: 130px;
                        height: 10px;
                    }
                }
            }

            .logo__item:hover {
                @media (min-width: 768px) {
                    transform: rotateX(360deg);
                    transition: 1.5s;
                }
            }

            .logo__item--mod:hover {
                @media (min-width: 768px) {
                    transform: rotateY(360deg);
                    transition: 1.5s;
                }
            }
        }

        .slash {
            display: flex;

            @media (min-width: 768px) {
                display: none;
            }
        }

        .section-menu {
            font-size: 1.25rem;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    .menu {
        width: 100%;
        position: absolute;
        display: flex;
        // display: none;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 45px;
        padding: 12.5px 4%;
        z-index: 3;

        @media (min-width: 768px) {
            width: 100%;
            align-items: flex-start;
            margin-top: 195px;
            padding: 0 7.813%;
        }

        @media (min-width: 1024px) {
            display: flex;
            align-items: flex-end;
            margin-top: 90px;
            padding: 0 5.86%;
        }

        @media (min-width: 1440px) {
            padding: 0 4.167%;
        }

        @media (min-width: 1920px) {
            padding: 0 8.334%;
        }

        .button-burger {
            display: flex;
            align-items: center;

            @media (min-width: 768px) {
                display: none;
            }
        }

        .button-burger:hover {
            cursor: pointer;
        }

        .button-burger:active {
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.20);
        }

        .button-burger:active .button-burger__img path {
            stroke: #F0145A;
        }

        .popup-nav {
            width: 100%;
            display: none;
            flex-direction: column;
            margin-top: 50px;
            padding: 12px 3.07%;
            border-radius: 12px;
            background: #FFF;
            box-shadow: 0px 15px 80px 0px rgba(40, 40, 86, 0.50);
            z-index: 2;

            @media (min-width: 768px) {
                display: flex;
                // !important
                margin-top: 0;
                padding: 0;
                background: none;
                box-shadow: none;
            }

            @media (min-width: 1024px) {
                align-items: flex-end;
            }

            .popup {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    display: none;
                }

                .popup__img:hover {
                    cursor: pointer;
                }

                .popup__img:active {
                    background: #E6E6F0;
                    border-radius: 8px;
                }
            }

            .nav {
                // display: none;
                display: flex;
                flex-direction: column;
                gap: 15px;

                @media (min-width: 768px) {
                    display: flex;
                    flex-direction: row;
                }

                .nav__item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    background: #F5F5FA;
                    padding: 7px 0;
                    border-radius: 12px;
                    font-size: 1.5rem;
                    font-weight: 700;
                    gap: 3px;

                    @media (min-width: 768px) {
                        width: fit-content;
                        background: none;
                        padding: 0;
                        font-size: 1rem;
                    }

                    .nav__link {
                        color: #24A3FF;

                        @media (min-width: 768px) {
                            color: #FFF;
                        }
                    }

                    .nav__line {

                        @media (min-width: 768px) {
                            width: 0;
                            display: flex;
                            height: 2px;
                            background: #FFF;
                            transition: 0.3s ease;
                            -webkit-transition: width .3s ease;
                        }
                    }

                    // .nav__link--mod {
                    //     color: #F0145A;

                    //     @media (min-width: 768px) {
                    //         color: #FFF;
                    //     }
                    // }
                }

                .nav__item:hover .nav__line {

                    @media (min-width: 768px) {
                        width: 100%;
                    }
                }

                .nav__item:active {
                    background: #E6E6F0;

                    @media (min-width: 768px) {
                        background: none;
                    }
                }

                .nav__item:active .nav__link {

                    @media (min-width: 768px) {
                        color: #F0145A;
                    }
                }

                .nav__item:active .nav__line {

                    @media (min-width: 768px) {
                        background: #F0145A;
                    }
                }
            }
        }
    }
}