.header {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .symbol {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;

            .symbol__item {
                width: 267px;
                height: 600px;
                transform: translateX(5.4%);

                @media (min-width: 768px) {
                    width: 456px;
                    height: 1024px;
                    transform: translateX(3.5%);
                }

                @media (min-width: 1024px) {
                    width: 342px;
                    height: 768px;
                    transform: translateX(4%);
                }

                @media (min-width: 1440px) {
                    width: 356px;
                    height: 799px;
                    transform: translateX(4%);
                }

                @media (min-width: 1920px) {
                    width: 445px;
                    height: 1000px;
                    transform: translateX(4%);
                }
            }

            .symbol__item--mod {
                width: 286px;
                height: 345px;
                transform: translateX(-35.5%);

                @media (min-width: 768px) {
                    width: 489px;
                    height: 589px;
                    transform: translateX(-37.3%);
                }

                @media (min-width: 1024px) {
                    width: 367px;
                    height: 442px;
                    transform: translateX(-36.8%);
                }

                @media (min-width: 1440px) {
                    width: 381px;
                    height: 459px;
                    transform: translateX(-36.8%);
                }

                @media (min-width: 1920px) {
                    width: 476px;
                    height: 574px;
                    transform: translateX(-37%);
                }
            }
        }

        .title {
            width: 84%;
            position: absolute;
            font-size: 2.375rem;
            font-weight: 700;
            text-align: center;
        }

        .button-scroll {
            top: 528px;
            position: absolute;
            transition: 0.5s;

            @media (min-width: 768px) {
                top: 952px;
            }

            @media (min-width: 1024px) {
                top: 696px;
            }

            @media (min-width: 1440px) {
                top: 727px;
            }

            @media (min-width: 1920px) {
                top: 928px;
            }
        }

        .button-scroll:hover {
            cursor: pointer;
        }

        .button-scroll:hover .button-scroll__img circle {
            stroke: #F0145A;
        }

        .button-scroll:hover .button-scroll__img path {
            stroke: #F0145A;
        }

        .button-scroll:active {
            transform: scale(0.9) translateY(10px);
            transition: 0.3s;
        }

        .button-scroll:active .button-scroll__img circle {
            stroke: #E6E6F0;
        }

        .button-scroll:active .button-scroll__img path {
            stroke: #E6E6F0;
        }
    }

    .contacts {
        width: 100%;
        padding: 10px 4%;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: rgba(245, 245, 250, 0.20);
        gap: 6px;
        z-index: 3;

        @media (min-width: 768px) {
            padding: 50px 7.813% 30px;
            background: none;
            justify-content: flex-start;
        }

        @media (min-width: 1024px) {
            padding: 50px 5.86% 0;
            justify-content: flex-end;
        }

        @media (min-width: 1440px) {
            padding: 50px 4.167% 0;
        }

        @media (min-width: 1920px) {
            padding: 50px 8.334% 0;
        }

        .lang {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            @media (min-width: 768px) {
                margin-right: 6.7%;
            }

            @media (min-width: 1024px) {
                margin-right: 0;
                justify-content: flex-end;
            }

            .lang__item {
                padding: 5px 12.57%;
                font-size: 0.75rem;
                font-weight: 700;
                letter-spacing: 1px;
                border-radius: 8px;
            }

            .lang__item:hover {
                cursor: pointer;
            }
        }

        .dot-separator {
            display: none;
            color: #E6E6F0;

            @media (min-width: 768px) {
                display: flex;
            }
        }

        .address {
            display: none;

            .address__link {
                color: #B3B3BA;
            }

            @media (min-width: 768px) {
                display: flex;
            }
        }

        .address__link:hover {
            color: #FFF;
        }

        .address__link:active {
            color: #F0145A;
        }

        .call {
            font-weight: 700;

            .call__link {
                color: #FFF;
            }
        }

        .call:hover {
            transform: rotateY(360deg);
            transition: 1.5s;
        }

        .call:hover .call__link {
            color: #B3B3BA;
        }

        .call:active .call__link {
            color: #F0145A;
        }

        .social-network {
            display: none;
            transform: rotate(360deg);
            transition: 1.5s;

            @media (min-width: 768px) {
                display: flex;
            }
        }

        .social-network:hover {
            transform: rotate(-360deg);
            transition: 1.5s;
        }

        .social-network:hover path {
            fill: #F0145A;
        }

        .social-network:active path {
            fill: #B3B3BA;
        }
    }

    .logotype {
        width: 100%;
        margin-top: 46px;
        padding: 15px 4% 10px;
        position: absolute;
        display: flex;
        align-items: flex-start;
        gap: 4px;

        @media (min-width: 768px) {
            align-items: flex-start;
            margin-top: 105px;
            padding: 0 7.813%;
        }

        @media (min-width: 1024px) {
            margin-top: 50px;
            padding: 0 5.86%;
        }

        @media (min-width: 1440px) {
            padding: 0 4.167%;
        }

        @media (min-width: 1920px) {
            padding: 0 8.334%;
        }

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 3.47px;

            @media (min-width: 768px) {
                gap: 6.5px;
            }

            .logo__item {
                display: flex;
                align-items: center;
                z-index: 4;

                .logo__img {
                    @media (min-width: 768px) {
                        width: 130px;
                        height: 47px;
                    }
                }

                .logo__text {
                    @media (min-width: 768px) {
                        width: 130px;
                        height: 10px;
                    }
                }
            }

            .logo__item:hover {
                transform: rotateX(360deg);
                transition: 1.5s;
            }

            .logo__item--mod:hover {
                transform: rotateY(360deg);
                transition: 1.5s;
            }
        }

        .slash {
            display: flex;

            @media (min-width: 768px) {
                display: none;
            }
        }

        .section-menu {
            font-size: 1.25rem;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    .menu {
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 45px;
        padding: 12.5px 4%;
        z-index: 3;

        @media (min-width: 768px) {
            width: 100%;
            align-items: flex-start;
            margin-top: 195px;
            padding: 0 7.813%;
        }

        @media (min-width: 1024px) {
            display: flex;
            align-items: flex-end;
            margin-top: 90px;
            padding: 0 5.86%;
        }

        @media (min-width: 1440px) {
            padding: 0 4.167%;
        }

        @media (min-width: 1920px) {
            padding: 0 8.334%;
        }

        .button-burger {
            display: flex;
            align-items: center;

            @media (min-width: 768px) {
                display: none;
            }
        }

        .button-burger:hover {
            cursor: pointer;
        }

        .button-burger:active {
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.20);
        }

        .button-burger:active .button-burger__img path {
            stroke: #F0145A;
        }

        .popup-nav {
            width: 100%;
            display: none;
            flex-direction: column;
            margin-top: 50px;
            padding: 12px 3.07%;
            border-radius: 12px;
            background: #FFF;
            box-shadow: 0px 15px 80px 0px rgba(40, 40, 86, 0.50);
            z-index: 2;

            @media (min-width: 768px) {
                display: flex;
                margin-top: 0;
                padding: 0;
                background: none;
                box-shadow: none;
            }

            @media (min-width: 1024px) {
                align-items: flex-end;
            }

            .popup {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    display: none;
                }

                .popup__img:hover {
                    cursor: pointer;
                }

                .popup__img:active {
                    background: #E6E6F0;
                    border-radius: 8px;
                }
            }

            .nav {
                display: flex;
                flex-direction: column;
                gap: 15px;

                @media (min-width: 768px) {
                    display: flex;
                    flex-direction: row;
                }

                .nav__item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    background: #F5F5FA;
                    padding: 7px 0;
                    border-radius: 12px;
                    font-size: 1.5rem;
                    font-weight: 700;
                    gap: 3px;

                    @media (min-width: 768px) {
                        width: fit-content;
                        background: none;
                        padding: 0;
                        font-size: 1rem;
                    }

                    .nav__link {
                        color: #24A3FF;

                        @media (min-width: 768px) {
                            color: #FFF;
                        }
                    }

                    .nav__line {

                        @media (min-width: 768px) {
                            width: 0;
                            display: flex;
                            height: 2px;
                            background: #FFF;
                            transition: 0.3s ease;
                            -webkit-transition: width .3s ease;
                        }
                    }
                }

                .nav__item:hover .nav__line {

                    @media (min-width: 768px) {
                        width: 100%;
                    }
                }

                .nav__item:active {
                    background: #E6E6F0;

                    @media (min-width: 768px) {
                        background: none;
                    }
                }

                .nav__item:active .nav__link {

                    @media (min-width: 768px) {
                        color: #F0145A;
                    }
                }

                .nav__item:active .nav__line {

                    @media (min-width: 768px) {
                        background: #F0145A;
                    }
                }
            }
        }
    }
}

.adventages {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;

    @media (min-width: 768px) {
        padding: 60px 0;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        padding: 60px 0;
    }

    .adventages__list {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 0 8% 30px;
        overflow-x: scroll;
        scroll-behavior: smooth;

        @media (min-width: 768px) {
            padding: 0 7.813% 60px;
        }

        @media (min-width: 1024px) {
            min-width: max-content;
            flex-direction: column;
            justify-content: center;
            padding: 0 5.86% 0;
        }

        @media (min-width: 1440px) {
            padding: 0 4.167% 0 12.5%;
        }

        @media (min-width: 1920px) {
            padding: 0 3.125% 0 14.584%;
        }

        .adventages__item:hover {
            cursor: pointer;
        }

        .adventages__item:hover .adventages__keyword {
            color: #F0145A;
        }

        .adventages__keyword {
            font-size: 1.875rem;
            font-weight: 700;
            color: #B3B3BA;
            white-space: nowrap;

            @media (min-width: 768px) {
                font-size: 2.375rem;
            }

            @media (min-width: 1024px) {
                text-align: right;
            }
        }

        #adventages-tab-A {
            background: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .adventages__list::-webkit-scrollbar {
        display: none;
    }

    .adventages__section {
        display: flex;
        align-items: center;
        padding: 0 8% 0;

        @media (min-width: 768px) {
            padding: 0 7.813% 0;
        }

        @media (min-width: 1024px) {
            padding: 0 5.86% 0;
            border-left: 4px solid rgba(255, 255, 255, 0.30);
        }

        @media (min-width: 1440px) {
            padding: 0 12.5% 0 4.167%;
        }

        @media (min-width: 1920px) {
            padding: 0 14.584% 0 3.125%;
        }

        .adventages__body {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            border-top: 4px solid rgba(255, 255, 255, 0.30);

            @media (min-width: 768px) {
                padding-top: 60px;
            }

            @media (min-width: 1024px) {
                padding-top: 0;
                border-top: none;
            }

            .adventages__title {
                font-size: 1.25rem;
                font-weight: 700;

                @media (min-width: 768px) {
                    font-size: 1.875rem;
                }
            }

            .adventages__text {
                font-size: 1.1875rem;
                line-height: 30px;
            }
        }

        #adventages-body-A {
            display: flex;
        }

        #adventages-body-B {
            display: none;
        }

        #adventages-body-C {
            display: none;
        }

        #adventages-body-D {
            display: none;
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 0px 8% 60px;
    gap: 30px;

    @media (min-width: 768px) {
        padding: 0px 7.813% 60px;
        gap: 60px;
    }

    @media (min-width: 1024px) {
        padding: 0px 5.86% 60px;
    }

    @media (min-width: 1440px) {
        padding: 0px 4.167% 60px;
    }

    @media (min-width: 1920px) {
        padding: 0px 8.334% 60px;
    }

    .services__heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .services__body {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        .services__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .services__figure {
                width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 24px;
                background: #FFF;
                padding: 14px;
                gap: 10px;

                .services__img--mod {
                    position: absolute;
                }

                .services__img--spec {
                    margin: 8.001px 8.803px 8.141px 9px;
                }
            }

            .services__subtitle {
                margin-top: 30px;
                font-size: 1.375rem;
                font-weight: 700;
                color: #24A3FF;
            }

            .services__text {
                margin-top: 15px;
                line-height: 26px;
            }
        }
    }
}

.stack {
    .stack__item {
        margin: 0 auto;
        width: 89.333%;
        height: 10px;
        flex-shrink: 0;
        border-radius: 0px 0px 12px 12px;
        background: #CACADB;

        @media (min-width: 768px) {
            width: 94.792%;
        }

        @media (min-width: 1024px) {
            width: 96.094%;
        }

        @media (min-width: 1440px) {
            width: 97.222%;
        }

        @media (min-width: 1920px) {
            width: 97.917%;
        }
    }

    .stack__item--mod {
        width: 78.666%;
        background: #E7E7F2;

        @media (min-width: 768px) {
            width: 89.583%;
        }

        @media (min-width: 1024px) {
            width: 92.187%;
        }

        @media (min-width: 1440px) {
            width: 94.444%;
        }

        @media (min-width: 1920px) {
            width: 95.833%;
        }
    }
}

.team {
    padding: 30px 8% 60px;
    align-items: center;

    @media (min-width: 768px) {
        padding: 60px 7.813%;
    }

    @media (min-width: 1024px) {
        padding: 60px 5.86%;
    }

    @media (min-width: 1440px) {
        padding: 60px 4.167%;
    }

    @media (min-width: 1920px) {
        padding: 60px 8.334%;
    }

    .team__body {
        border-radius: 12px;
        overflow: hidden;
        background: #F5F5FA;

        .team__item {
            flex-direction: column;
            justify-content: space-between;

            @media (min-width: 1024px) {
                flex-direction: row;
            }

            .team__photo {
                display: flex;
                height: 500px;

                @media (min-width: 1024px) {
                    height: auto;
                    width: 44.248%;
                }

                @media (min-width: 1440px) {
                    width: 30.304%;
                }

                @media (min-width: 1920px) {
                    width: 25%;
                }

                @media (min-width: 2560px) {
                    width: 18.762%;
                }
            }

            .team__photo--mod {
                background: url("../images/team/Alexander_Alexandrovsky.svg") no-repeat center center;
                background-size: cover;
            }

            .team__photo--spec {
                background: url("../images/team/Oksana_Kobzar.svg") no-repeat center center;
                background-size: cover;
            }

            .team__photo--add {
                background: url("../images/team/Vladislav_Melnik.svg") no-repeat center center;
                background-size: cover;
            }

            .team__info {
                display: flex;
                flex-direction: column;
                padding: 30px 8%;

                @media (min-width: 768px) {
                    padding: 30px 4.63%;
                }

                @media (min-width: 1024px) {
                    width: 55.753%;
                    padding: 30px 3.32%;
                }

                @media (min-width: 1440px) {
                    width: 69.697%;
                    padding: 30px 2.273%;
                }

                @media (min-width: 1920px) {
                    width: 75%;
                    padding: 30px 1.875%;
                }

                @media (min-width: 2560px) {
                    width: 81.238%;
                    padding: 30px 1.4065%;
                }

                .team__quote {
                    margin: 5px 0 30px;
                }

                .team__name {
                    color: #B3B3BA;
                    font-weight: 700;
                }

                .team__role {
                    margin-top: 6px;
                    color: #B3B3BA;
                    font-size: 0.875rem;
                    line-height: 22px;
                }
            }
        }

        #team-card-one {
            display: flex;
        }

        #team-card-two {
            display: none;
        }

        #team-card-three {
            display: none;
        }
    }

    .team__switch {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
}

.clients {
    @media (min-width: 1920px) {
        padding: 0 5.209%;
    }

    .clients__heading {
        text-align: center;
        padding-bottom: 30px;

        .clients__title {
            font-size: 0.875rem;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #323264;
        }
    }

    .clients__wrap {
        height: 720px;
        overflow-y: scroll;

        @media (min-width: 768px) {
            height: initial;
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (min-width: 1920px) {
            border-radius: 12px;
        }

        .clients__item {
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;

            .clients__link {
                text-align: center;
            }
        }

        #hillel {
            background: #1C4280;
            transition: 1s;

            .clients__img {
                height: 48px;
                transition: 1s;
            }
        }

        #hillel:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #hillel:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #wannabiz {
            background: #143646;
            transition: 1s;

            .clients__img {
                height: 32px;
                transition: 1s;
            }
        }

        #wannabiz:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #wannabiz:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #tapgerine {
            background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
            transition: 1s;

            .clients__img {
                height: 44px;
                transition: 1s;
            }
        }

        #tapgerine:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #tapgerine:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #threedlook {
            background: #9E4DC3;
            transition: 1s;

            .clients__img {
                height: 42px;
                transition: 1s;
            }
        }

        #threedlook:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #threedlook:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #orangear {
            background: #FD9339;
            transition: 1s;

            .clients__img {
                height: 44px;
                transition: 1s;
            }
        }

        #orangear:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #orangear:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #adtelligent {
            background: #E2E2E4;
            transition: 1s;

            .clients__img {
                height: 48px;
                transition: 1s;
            }
        }

        #adtelligent:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #adtelligent:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #clickky {
            background: #C71C36;
            transition: 1s;

            .clients__img {
                height: 61px;
                transition: 1s;
            }
        }

        #clickky:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #clickky:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #eco-leasing {
            background: #DCF3F9;
            transition: 1s;

            .clients__img {
                height: 76px;
                transition: 1s;
            }
        }

        #eco-leasing:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #eco-leasing:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #infratek {
            background: #EAEAEA;
            transition: 1s;

            .clients__img {
                height: 60px;
                transition: 1s;
            }
        }

        #infratek:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #infratek:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #city-par {
            background: #282240;
            transition: 1s;

            .clients__img {
                height: 38px;
                transition: 1s;
            }
        }

        #city-par:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #city-par:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #artprint {
            background: #1D4568;
            transition: 1s;

            .clients__img {
                height: 46px;
                transition: 1s;
            }
        }

        #artprint:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #artprint:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }

        #ultimatecard {
            background: #000;
            transition: 1s;

            .clients__img {
                height: 95px;
                transition: 1s;
            }
        }

        #ultimatecard:hover {
            transition: 0.5s;
            opacity: 0.8;
        }

        #ultimatecard:hover .clients__img {
            transform: scale(1.1);
            transition: 0.5s;
        }
    }

    .clients__wrap::-webkit-scrollbar {
        width: 0;
    }

    .clients__wrap {
        -ms-overflow-style: none;
    }
}

.publications {
    display: flex;
    flex-direction: column;
    padding: 30px 8%;
    gap: 30px;
    background: #F5F5FA;

    @media (min-width: 768px) {
        padding: 30px 7.813%;
    }

    @media (min-width: 1024px) {
        padding: 30px 5.86%;
    }

    @media (min-width: 1440px) {
        padding: 30px 4.167%;
    }

    @media (min-width: 1920px) {
        margin-top: 60px;
        padding: 30px 8.334%;
    }

    .publications__heading {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @media (min-width: 768px) {
            gap: 10px;
        }
    }

    .publications__body {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (min-width: 768px) {
            display: grid;
            grid-template-areas:
                "A B"
                "C C";
        }

        @media (min-width: 1024px) {
            grid-template-areas:
                "A B C";
        }

        .publications__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-radius: 8px;
            overflow: hidden;

            .publications__cover {
                height: 200px;
            }

            .publications__cover--mod {
                background: url("../images/publications/meeting.png") no-repeat center center;
                background-size: cover;
            }

            .publications__cover--spec {
                background: url("../images/publications/gdpr.png") no-repeat center center;
                background-size: cover;
            }

            .publications__cover--add {
                background: url("../images/publications/team.png") no-repeat center center;
                background-size: cover;
            }

            .publications__info {
                padding: 30px 9.525%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                background: #FFF;
                flex-grow: 1;

                @media (min-width: 768px) {
                    padding: 30px 9.71%;
                }

                @media (min-width: 1024px) {
                    padding: 30px 10.665%;
                }

                @media (min-width: 1440px) {
                    padding: 30px 7.145%;
                }

                @media (min-width: 1920px) {
                    padding: 30px 5.845%;
                }

                .publications__subtitle {
                    color: #24A3FF;
                    font-weight: 700;
                }

                .publications__date {
                    color: #B3B3BA;
                    font-size: 0.75rem;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }

                .publications__text {
                    padding-top: 15px;
                    border-top: 4px solid #E6E6F0;
                    color: #000;
                    font-size: 0.875rem;
                    line-height: 22px;
                }
            }
        }

        // .publications__item--mod {
        //     grid-area: A;
        // }

        // .publications__item--spec {
        //     grid-area: B;
        // }

        .publications__item--add {
            grid-area: C;

            .publications__info {
                @media (min-width: 768px) {
                    padding: 30px 4.63%;
                }

                @media (min-width: 1024px) {
                    padding: 30px 10.665%;
                }

                @media (min-width: 1440px) {
                    padding: 30px 7.145%;
                }

                @media (min-width: 1920px) {
                    padding: 30px 5.845%;
                }
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 8% 30px;
    background: #F5F5FA;
    gap: 30px;

    @media (min-width: 768px) {
        padding: 30px 7.813%;
        text-align: left;
    }

    @media (min-width: 1024px) {
        padding: 30px 5.86%;
    }

    @media (min-width: 1440px) {
        padding: 30px 4.167%;
    }

    @media (min-width: 1920px) {
        padding: 30px 8.334%;
        ;
    }

    .contacts {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 21px;
        border-top: 2px solid #E6E6F0;


        .contacts__wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media (min-width: 768px) {
                flex-direction: row;
                align-items: center;
            }

            .address {
                color: #323264;
            }

            .address:hover {
                color: #B3B3BA;
            }

            .dot-separator {
                display: none;

                @media (min-width: 768px) {
                    display: flex;
                }
            }

            .location {
                font-size: 0.75rem;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;

                .location__link {
                    color: #24A3FF;
                }

                .location__link:hover {
                    color: #F0145A;
                }
            }

            .social-network {
                display: flex;
                justify-content: center;
            }

            .social-network:hover path {
                fill: #F0145A;
            }

            .social-network__img {
                transform: rotate(-360deg);
                transition: 1.5s;
            }

            .social-network__img:hover {
                transform: rotate(360deg);
                transition: 1.5s;
            }

            .call {
                font-weight: 700;

                .call__link {
                    color: #46466E;
                }
            }

            .call:hover {
                transform: rotateY(360deg);
                transition: 1.5s;
            }

            .call:active .call__link {
                color: #F0145A;
            }

            .mail {
                font-weight: 700;

                .mail__link {
                    color: #24A3FF;
                }

                .mail__link:hover {
                    color: #F0145A;
                }
            }
        }
    }

    .policy {
        display: flex;
        justify-content: center;

        @media (min-width: 768px) {
            position: absolute;
            padding-top: 32px;
            right: 7.813%;
        }

        @media (min-width: 1024px) {
            right: 5.86%;
        }

        @media (min-width: 1440px) {
            right: 4.167%;
        }

        @media (min-width: 1920px) {
            right: 8.334%;
        }

        .policy__text {
            color: #B3B3BA;
        }

        .policy__text:hover {
            cursor: pointer;
        }
    }
}