.main {

    .adventages {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        background: #323264;

        @media (min-width: 768px) {
            padding: 60px 0;
        }

        @media (min-width: 1024px) {
            flex-direction: row;
            padding: 60px 0;
        }

        .adventages__list {
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding: 0 8% 30px;
            overflow-x: scroll;
            scroll-behavior: smooth;

            @media (min-width: 768px) {
                padding: 0 7.813% 60px;
            }

            @media (min-width: 1024px) {
                min-width: max-content;
                flex-direction: column;
                justify-content: center;
                padding: 0 5.86% 0;
            }

            @media (min-width: 1440px) {
                padding: 0 4.167% 0 12.5%;
            }

            @media (min-width: 1920px) {
                padding: 0 3.125% 0 14.584%;
            }

            .adventages__item:hover {
                cursor: pointer;
            }

            .adventages__item:hover .adventages__keyword {
                color: #F0145A;
            }

            .adventages__keyword {
                font-size: 1.875rem;
                font-weight: 700;
                color: #B3B3BA;
                white-space: nowrap;

                @media (min-width: 768px) {
                    font-size: 2.375rem;
                }

                @media (min-width: 1024px) {
                    text-align: right;
                }
            }

            #adventages-tab-A {
                background: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .adventages__list::-webkit-scrollbar {
            display: none;
        }

        .adventages__section {
            display: flex;
            align-items: center;
            padding: 0 8% 0;

            @media (min-width: 768px) {
                padding: 0 7.813% 0;
            }

            @media (min-width: 1024px) {
                padding: 0 5.86% 0;
                border-left: 4px solid rgba(255, 255, 255, 0.30);
            }

            @media (min-width: 1440px) {
                padding: 0 12.5% 0 4.167%;
            }

            @media (min-width: 1920px) {
                padding: 0 14.584% 0 3.125%;
            }

            .adventages__body {
                padding-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                border-top: 4px solid rgba(255, 255, 255, 0.30);

                @media (min-width: 768px) {
                    padding-top: 60px;
                }

                @media (min-width: 1024px) {
                    padding-top: 0;
                    border-top: none;
                }

                .adventages__title {
                    font-size: 1.25rem;
                    font-weight: 700;

                    @media (min-width: 768px) {
                        font-size: 1.875rem;
                    }
                }

                .adventages__text {
                    font-size: 1.1875rem;
                    line-height: 30px;
                }
            }

            #adventages-body-A {
                display: flex;
            }

            #adventages-body-B {
                display: none;
            }

            #adventages-body-C {
                display: none;
            }

            #adventages-body-D {
                display: none;
            }
        }
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        padding: 0px 8% 60px;
        gap: 30px;
        // background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
        background: #323264;
        border-radius: 0px 0px 12px 12px;

        @media (min-width: 768px) {
            padding: 0px 7.813% 60px;
            gap: 60px;
        }

        @media (min-width: 1024px) {
            padding: 0px 5.86% 60px;
        }

        @media (min-width: 1440px) {
            padding: 0px 4.167% 60px;
        }

        @media (min-width: 1920px) {
            padding: 0px 8.334% 60px;
        }

        .services__heading {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .services__title {
                background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 1.875rem;
                font-weight: 700;

                @media (min-width: 768px) {
                    font-size: 2.375rem;
                }
            }
        }

        .services__body {
            display: flex;
            flex-direction: column;
            gap: 30px;

            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 60px;
            }

            @media (min-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .services__item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .services__figure {
                    width: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 24px;
                    background: #FFF;
                    padding: 14px;
                    gap: 10px;

                    .services__img--mod {
                        position: absolute;
                    }

                    .services__img--spec {
                        margin: 8.001px 8.803px 8.141px 9px;
                    }
                }

                .services__subtitle {
                    margin-top: 30px;
                    font-size: 1.375rem;
                    font-weight: 700;
                    color: #24A3FF;
                }

                .services__text {
                    margin-top: 15px;
                    line-height: 26px;
                }
            }
        }
    }

    .stack {
        .stack__item {
            margin: 0 auto;
            width: 89.333%;
            height: 10px;
            flex-shrink: 0;
            border-radius: 0px 0px 12px 12px;
            background: #CACADB;

            @media (min-width: 768px) {
                width: 94.792%;
            }

            @media (min-width: 1024px) {
                width: 96.094%;
            }

            @media (min-width: 1440px) {
                width: 97.222%;
            }

            @media (min-width: 1920px) {
                width: 97.917%;
            }
        }

        .stack__item--mod {
            width: 78.666%;
            background: #E7E7F2;

            @media (min-width: 768px) {
                width: 89.583%;
            }

            @media (min-width: 1024px) {
                width: 92.187%;
            }

            @media (min-width: 1440px) {
                width: 94.444%;
            }

            @media (min-width: 1920px) {
                width: 95.833%;
            }
        }
    }

    .team {
        padding: 30px 8% 60px;
        align-items: center;

        @media (min-width: 768px) {
            padding: 60px 7.813%;
        }

        @media (min-width: 1024px) {
            padding: 60px 5.86%;
        }

        @media (min-width: 1440px) {
            padding: 60px 4.167%;
        }

        @media (min-width: 1920px) {
            padding: 60px 8.334%;
        }

        .team__body {
            border-radius: 12px;
            overflow: hidden;
            background: #F5F5FA;

            .team__item {
                flex-direction: column;
                justify-content: space-between;

                @media (min-width: 1024px) {
                    flex-direction: row;
                }

                .team__photo {
                    display: flex;
                    height: 500px;

                    @media (min-width: 1024px) {
                        height: auto;
                        width: 44.248%;
                    }

                    @media (min-width: 1440px) {
                        width: 30.304%;
                    }

                    @media (min-width: 1920px) {
                        width: 25%;
                    }

                    @media (min-width: 2560px) {
                        width: 18.762%;
                    }
                }

                .team__photo--mod {
                    background: url("../images/team/Alexander_Alexandrovsky.svg") no-repeat center center;
                    background-size: cover;
                }

                .team__photo--spec {
                    background: url("../images/team/Oksana_Kobzar.svg") no-repeat center center;
                    background-size: cover;
                }

                .team__photo--add {
                    background: url("../images/team/Vladislav_Melnik.svg") no-repeat center center;
                    background-size: cover;
                }

                .team__info {
                    display: flex;
                    flex-direction: column;
                    padding: 30px 8%;

                    @media (min-width: 768px) {
                        padding: 30px 4.63%;
                    }

                    @media (min-width: 1024px) {
                        width: 55.753%;
                        padding: 30px 3.32%;
                    }

                    @media (min-width: 1440px) {
                        width: 69.697%;
                        padding: 30px 2.273%;
                    }

                    @media (min-width: 1920px) {
                        width: 75%;
                        padding: 30px 1.875%;
                    }

                    @media (min-width: 2560px) {
                        width: 81.238%;
                        padding: 30px 1.4065%;
                    }

                    .team__quote {
                        margin: 5px 0 30px;
                        font-size: 1.875rem;
                        font-weight: 700;
                        background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        @media (min-width: 768px) {
                            font-size: 2.375rem;
                        }
                    }

                    .team__name {
                        color: #B3B3BA;
                        font-weight: 700;
                    }

                    .team__role {
                        margin-top: 6px;
                        color: #B3B3BA;
                        font-size: 0.875rem;
                        line-height: 22px;
                    }
                }
            }

            #team-card-one {
                display: flex;
                // display: none;
            }

            #team-card-two {
                // display: flex;
                display: none;
            }

            #team-card-three {
                // display: flex;
                display: none;
            }
        }

        .team__switch {
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
    }
}