.main {

    .adventages {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #323264;
        padding: 30px 0;

        @media (min-width: 768px) {
            padding: 60px 0;
        }

        @media (min-width: 1024px) {
            flex-direction: row;
            padding: 60px 0;
        }

        .adventages__list {
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding: 0 8% 30px;
            overflow-x: scroll;
            scroll-behavior: smooth;

            @media (min-width: 768px) {
                padding: 0 7.813% 60px;
            }

            @media (min-width: 1024px) {
                min-width: max-content;
                flex-direction: column;
                justify-content: center;
                padding: 0 5.86% 0;
            }

            @media (min-width: 1440px) {
                padding: 0 4.167% 0 12.5%;
            }

            @media (min-width: 1920px) {
                padding: 0 3.125% 0 14.584%;
            }

            .adventages__item:hover {
                cursor: pointer;
            }

            .adventages__item:hover .adventages__keyword {
                color: #F0145A;
            }

            .adventages__keyword {
                font-size: 1.875rem;
                font-weight: 700;
                color: #B3B3BA;
                white-space: nowrap;

                @media (min-width: 768px) {
                    font-size: 2.375rem;
                }

                @media (min-width: 1024px) {
                    text-align: right;
                }
            }

            #adventages-tab-A {
                background: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .adventages__list::-webkit-scrollbar {
            display: none;
        }

        .adventages__section {
            display: flex;
            align-items: center;
            padding: 0 8% 0;

            @media (min-width: 768px) {
                padding: 0 7.813% 0;
            }

            @media (min-width: 1024px) {
                padding: 0 5.86% 0;
                border-left: 4px solid rgba(255, 255, 255, 0.30);
            }

            @media (min-width: 1440px) {
                padding: 0 12.5% 0 4.167%;
            }

            @media (min-width: 1920px) {
                padding: 0 14.584% 0 3.125%;
            }

            .adventages__body {
                padding-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                border-top: 4px solid rgba(255, 255, 255, 0.30);

                @media (min-width: 768px) {
                    padding-top: 60px;
                }

                @media (min-width: 1024px) {
                    padding-top: 0;
                    border-top: none;
                }

                .adventages__title {
                    font-size: 1.25rem;
                    font-weight: 700;

                    @media (min-width: 768px) {
                        font-size: 1.875rem;
                    }
                }

                .adventages__text {
                    font-size: 1.1875rem;
                    line-height: 30px;
                }
            }

            #adventages-body-A {
                display: flex;
            }

            #adventages-body-B {
                display: none;
            }

            #adventages-body-C {
                display: none;
            }

            #adventages-body-D {
                display: none;
            }
        }
    }
}