/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
}

.specialbackground__wrap {
  background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.menu__link {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.menu__link:hover {
  color: #F0145A;
}

.menu__link:hover .menu__link-img path {
  stroke: #F0145A;
}

.switch {
  display: inline-flex;
  align-items: flex-start;
  gap: 15px;
}
.switch .switch__item {
  display: flex;
  align-items: center;
}
.switch .switch__item .switch__img {
  fill: #24A3FF;
}
.switch #switch-dot-two {
  opacity: 0.2;
}
.switch #switch-dot-three {
  opacity: 0.2;
}

.services__title,
.team__quote,
.publications__title {
  background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.875rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .services__title,
  .team__quote,
  .publications__title {
    font-size: 2.375rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .banner .symbol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.header .banner .symbol .symbol__item {
  width: 267px;
  height: 600px;
  transform: translateX(5.4%);
}
@media (min-width: 768px) {
  .header .banner .symbol .symbol__item {
    width: 456px;
    height: 1024px;
    transform: translateX(3.5%);
  }
}
@media (min-width: 1024px) {
  .header .banner .symbol .symbol__item {
    width: 342px;
    height: 768px;
    transform: translateX(4%);
  }
}
@media (min-width: 1440px) {
  .header .banner .symbol .symbol__item {
    width: 356px;
    height: 799px;
    transform: translateX(4%);
  }
}
@media (min-width: 1920px) {
  .header .banner .symbol .symbol__item {
    width: 445px;
    height: 1000px;
    transform: translateX(4%);
  }
}
.header .banner .symbol .symbol__item--mod {
  width: 286px;
  height: 345px;
  transform: translateX(-35.5%);
}
@media (min-width: 768px) {
  .header .banner .symbol .symbol__item--mod {
    width: 489px;
    height: 589px;
    transform: translateX(-37.3%);
  }
}
@media (min-width: 1024px) {
  .header .banner .symbol .symbol__item--mod {
    width: 367px;
    height: 442px;
    transform: translateX(-36.8%);
  }
}
@media (min-width: 1440px) {
  .header .banner .symbol .symbol__item--mod {
    width: 381px;
    height: 459px;
    transform: translateX(-36.8%);
  }
}
@media (min-width: 1920px) {
  .header .banner .symbol .symbol__item--mod {
    width: 476px;
    height: 574px;
    transform: translateX(-37%);
  }
}
.header .banner .title {
  width: 84%;
  position: absolute;
  font-size: 2.375rem;
  font-weight: 700;
  text-align: center;
}
.header .banner .button-scroll {
  top: 528px;
  position: absolute;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .header .banner .button-scroll {
    top: 952px;
  }
}
@media (min-width: 1024px) {
  .header .banner .button-scroll {
    top: 696px;
  }
}
@media (min-width: 1440px) {
  .header .banner .button-scroll {
    top: 727px;
  }
}
@media (min-width: 1920px) {
  .header .banner .button-scroll {
    top: 928px;
  }
}
.header .banner .button-scroll:hover {
  cursor: pointer;
}
.header .banner .button-scroll:hover .button-scroll__img circle {
  stroke: #F0145A;
}
.header .banner .button-scroll:hover .button-scroll__img path {
  stroke: #F0145A;
}
.header .banner .button-scroll:active {
  transform: scale(0.9) translateY(10px);
  transition: 0.3s;
}
.header .banner .button-scroll:active .button-scroll__img circle {
  stroke: #E6E6F0;
}
.header .banner .button-scroll:active .button-scroll__img path {
  stroke: #E6E6F0;
}
.header .contacts {
  width: 100%;
  padding: 10px 4%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(245, 245, 250, 0.2);
  gap: 6px;
  z-index: 3;
}
@media (min-width: 768px) {
  .header .contacts {
    padding: 50px 7.813% 30px;
    background: none;
    justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  .header .contacts {
    padding: 50px 5.86% 0;
    justify-content: flex-end;
  }
}
@media (min-width: 1440px) {
  .header .contacts {
    padding: 50px 4.167% 0;
  }
}
@media (min-width: 1920px) {
  .header .contacts {
    padding: 50px 8.334% 0;
  }
}
.header .contacts .lang {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .header .contacts .lang {
    margin-right: 6.7%;
  }
}
@media (min-width: 1024px) {
  .header .contacts .lang {
    margin-right: 0;
    justify-content: flex-end;
  }
}
.header .contacts .lang .lang__item {
  padding: 5px 12.57%;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
}
.header .contacts .lang .lang__item:hover {
  cursor: pointer;
}
.header .contacts .dot-separator {
  display: none;
  color: #E6E6F0;
}
@media (min-width: 768px) {
  .header .contacts .dot-separator {
    display: flex;
  }
}
.header .contacts .address {
  display: none;
}
.header .contacts .address .address__link {
  color: #B3B3BA;
}
@media (min-width: 768px) {
  .header .contacts .address {
    display: flex;
  }
}
.header .contacts .address__link:hover {
  color: #FFF;
}
.header .contacts .address__link:active {
  color: #F0145A;
}
.header .contacts .call {
  font-weight: 700;
}
.header .contacts .call .call__link {
  color: #FFF;
}
.header .contacts .call:hover {
  transform: rotateY(360deg);
  transition: 1.5s;
}
.header .contacts .call:hover .call__link {
  color: #B3B3BA;
}
.header .contacts .call:active .call__link {
  color: #F0145A;
}
.header .contacts .social-network {
  display: none;
  transform: rotate(360deg);
  transition: 1.5s;
}
@media (min-width: 768px) {
  .header .contacts .social-network {
    display: flex;
  }
}
.header .contacts .social-network:hover {
  transform: rotate(-360deg);
  transition: 1.5s;
}
.header .contacts .social-network:hover path {
  fill: #F0145A;
}
.header .contacts .social-network:active path {
  fill: #B3B3BA;
}
.header .logotype {
  width: 100%;
  margin-top: 46px;
  padding: 15px 4% 10px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
@media (min-width: 768px) {
  .header .logotype {
    align-items: flex-start;
    margin-top: 105px;
    padding: 0 7.813%;
  }
}
@media (min-width: 1024px) {
  .header .logotype {
    margin-top: 50px;
    padding: 0 5.86%;
  }
}
@media (min-width: 1440px) {
  .header .logotype {
    padding: 0 4.167%;
  }
}
@media (min-width: 1920px) {
  .header .logotype {
    padding: 0 8.334%;
  }
}
.header .logotype .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.47px;
}
@media (min-width: 768px) {
  .header .logotype .logo {
    gap: 6.5px;
  }
}
.header .logotype .logo .logo__item {
  display: flex;
  align-items: center;
  z-index: 4;
}
@media (min-width: 768px) {
  .header .logotype .logo .logo__item .logo__img {
    width: 130px;
    height: 47px;
  }
}
@media (min-width: 768px) {
  .header .logotype .logo .logo__item .logo__text {
    width: 130px;
    height: 10px;
  }
}
.header .logotype .logo .logo__item:hover {
  transform: rotateX(360deg);
  transition: 1.5s;
}
.header .logotype .logo .logo__item--mod:hover {
  transform: rotateY(360deg);
  transition: 1.5s;
}
.header .logotype .slash {
  display: flex;
}
@media (min-width: 768px) {
  .header .logotype .slash {
    display: none;
  }
}
.header .logotype .section-menu {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .header .logotype .section-menu {
    display: none;
  }
}
.header .menu {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 45px;
  padding: 12.5px 4%;
  z-index: 3;
}
@media (min-width: 768px) {
  .header .menu {
    width: 100%;
    align-items: flex-start;
    margin-top: 195px;
    padding: 0 7.813%;
  }
}
@media (min-width: 1024px) {
  .header .menu {
    display: flex;
    align-items: flex-end;
    margin-top: 90px;
    padding: 0 5.86%;
  }
}
@media (min-width: 1440px) {
  .header .menu {
    padding: 0 4.167%;
  }
}
@media (min-width: 1920px) {
  .header .menu {
    padding: 0 8.334%;
  }
}
.header .menu .button-burger {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .header .menu .button-burger {
    display: none;
  }
}
.header .menu .button-burger:hover {
  cursor: pointer;
}
.header .menu .button-burger:active {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}
.header .menu .button-burger:active .button-burger__img path {
  stroke: #F0145A;
}
.header .menu .popup-nav {
  width: 100%;
  display: none;
  flex-direction: column;
  margin-top: 50px;
  padding: 12px 3.07%;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 15px 80px 0px rgba(40, 40, 86, 0.5);
  z-index: 2;
}
@media (min-width: 768px) {
  .header .menu .popup-nav {
    display: flex;
    margin-top: 0;
    padding: 0;
    background: none;
    box-shadow: none;
  }
}
@media (min-width: 1024px) {
  .header .menu .popup-nav {
    align-items: flex-end;
  }
}
.header .menu .popup-nav .popup {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .header .menu .popup-nav .popup {
    display: none;
  }
}
.header .menu .popup-nav .popup .popup__img:hover {
  cursor: pointer;
}
.header .menu .popup-nav .popup .popup__img:active {
  background: #E6E6F0;
  border-radius: 8px;
}
.header .menu .popup-nav .nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 768px) {
  .header .menu .popup-nav .nav {
    display: flex;
    flex-direction: row;
  }
}
.header .menu .popup-nav .nav .nav__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #F5F5FA;
  padding: 7px 0;
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight: 700;
  gap: 3px;
}
@media (min-width: 768px) {
  .header .menu .popup-nav .nav .nav__item {
    width: -moz-fit-content;
    width: fit-content;
    background: none;
    padding: 0;
    font-size: 1rem;
  }
}
.header .menu .popup-nav .nav .nav__item .nav__link {
  color: #24A3FF;
}
@media (min-width: 768px) {
  .header .menu .popup-nav .nav .nav__item .nav__link {
    color: #FFF;
  }
}
@media (min-width: 768px) {
  .header .menu .popup-nav .nav .nav__item .nav__line {
    width: 0;
    display: flex;
    height: 2px;
    background: #FFF;
    transition: 0.3s ease;
    -webkit-transition: width 0.3s ease;
  }
}
@media (min-width: 768px) {
  .header .menu .popup-nav .nav .nav__item:hover .nav__line {
    width: 100%;
  }
}
.header .menu .popup-nav .nav .nav__item:active {
  background: #E6E6F0;
}
@media (min-width: 768px) {
  .header .menu .popup-nav .nav .nav__item:active {
    background: none;
  }
}
@media (min-width: 768px) {
  .header .menu .popup-nav .nav .nav__item:active .nav__link {
    color: #F0145A;
  }
}
@media (min-width: 768px) {
  .header .menu .popup-nav .nav .nav__item:active .nav__line {
    background: #F0145A;
  }
}

.adventages {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
@media (min-width: 768px) {
  .adventages {
    padding: 60px 0;
  }
}
@media (min-width: 1024px) {
  .adventages {
    flex-direction: row;
    padding: 60px 0;
  }
}
.adventages .adventages__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0 8% 30px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  .adventages .adventages__list {
    padding: 0 7.813% 60px;
  }
}
@media (min-width: 1024px) {
  .adventages .adventages__list {
    min-width: -moz-max-content;
    min-width: max-content;
    flex-direction: column;
    justify-content: center;
    padding: 0 5.86% 0;
  }
}
@media (min-width: 1440px) {
  .adventages .adventages__list {
    padding: 0 4.167% 0 12.5%;
  }
}
@media (min-width: 1920px) {
  .adventages .adventages__list {
    padding: 0 3.125% 0 14.584%;
  }
}
.adventages .adventages__list .adventages__item:hover {
  cursor: pointer;
}
.adventages .adventages__list .adventages__item:hover .adventages__keyword {
  color: #F0145A;
}
.adventages .adventages__list .adventages__keyword {
  font-size: 1.875rem;
  font-weight: 700;
  color: #B3B3BA;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .adventages .adventages__list .adventages__keyword {
    font-size: 2.375rem;
  }
}
@media (min-width: 1024px) {
  .adventages .adventages__list .adventages__keyword {
    text-align: right;
  }
}
.adventages .adventages__list #adventages-tab-A {
  background: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.adventages .adventages__list::-webkit-scrollbar {
  display: none;
}
.adventages .adventages__section {
  display: flex;
  align-items: center;
  padding: 0 8% 0;
}
@media (min-width: 768px) {
  .adventages .adventages__section {
    padding: 0 7.813% 0;
  }
}
@media (min-width: 1024px) {
  .adventages .adventages__section {
    padding: 0 5.86% 0;
    border-left: 4px solid rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1440px) {
  .adventages .adventages__section {
    padding: 0 12.5% 0 4.167%;
  }
}
@media (min-width: 1920px) {
  .adventages .adventages__section {
    padding: 0 14.584% 0 3.125%;
  }
}
.adventages .adventages__section .adventages__body {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .adventages .adventages__section .adventages__body {
    padding-top: 60px;
  }
}
@media (min-width: 1024px) {
  .adventages .adventages__section .adventages__body {
    padding-top: 0;
    border-top: none;
  }
}
.adventages .adventages__section .adventages__body .adventages__title {
  font-size: 1.25rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .adventages .adventages__section .adventages__body .adventages__title {
    font-size: 1.875rem;
  }
}
.adventages .adventages__section .adventages__body .adventages__text {
  font-size: 1.1875rem;
  line-height: 30px;
}
.adventages .adventages__section #adventages-body-A {
  display: flex;
}
.adventages .adventages__section #adventages-body-B {
  display: none;
}
.adventages .adventages__section #adventages-body-C {
  display: none;
}
.adventages .adventages__section #adventages-body-D {
  display: none;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 0px 8% 60px;
  gap: 30px;
}
@media (min-width: 768px) {
  .services {
    padding: 0px 7.813% 60px;
    gap: 60px;
  }
}
@media (min-width: 1024px) {
  .services {
    padding: 0px 5.86% 60px;
  }
}
@media (min-width: 1440px) {
  .services {
    padding: 0px 4.167% 60px;
  }
}
@media (min-width: 1920px) {
  .services {
    padding: 0px 8.334% 60px;
  }
}
.services .services__heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services .services__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .services .services__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
@media (min-width: 1024px) {
  .services .services__body {
    grid-template-columns: repeat(3, 1fr);
  }
}
.services .services__body .services__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.services .services__body .services__item .services__figure {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: #FFF;
  padding: 14px;
  gap: 10px;
}
.services .services__body .services__item .services__figure .services__img--mod {
  position: absolute;
}
.services .services__body .services__item .services__figure .services__img--spec {
  margin: 8.001px 8.803px 8.141px 9px;
}
.services .services__body .services__item .services__subtitle {
  margin-top: 30px;
  font-size: 1.375rem;
  font-weight: 700;
  color: #24A3FF;
}
.services .services__body .services__item .services__text {
  margin-top: 15px;
  line-height: 26px;
}

.stack .stack__item {
  margin: 0 auto;
  width: 89.333%;
  height: 10px;
  flex-shrink: 0;
  border-radius: 0px 0px 12px 12px;
  background: #CACADB;
}
@media (min-width: 768px) {
  .stack .stack__item {
    width: 94.792%;
  }
}
@media (min-width: 1024px) {
  .stack .stack__item {
    width: 96.094%;
  }
}
@media (min-width: 1440px) {
  .stack .stack__item {
    width: 97.222%;
  }
}
@media (min-width: 1920px) {
  .stack .stack__item {
    width: 97.917%;
  }
}
.stack .stack__item--mod {
  width: 78.666%;
  background: #E7E7F2;
}
@media (min-width: 768px) {
  .stack .stack__item--mod {
    width: 89.583%;
  }
}
@media (min-width: 1024px) {
  .stack .stack__item--mod {
    width: 92.187%;
  }
}
@media (min-width: 1440px) {
  .stack .stack__item--mod {
    width: 94.444%;
  }
}
@media (min-width: 1920px) {
  .stack .stack__item--mod {
    width: 95.833%;
  }
}

.team {
  padding: 30px 8% 60px;
}
@media (min-width: 768px) {
  .team {
    padding: 60px 7.813%;
  }
}
@media (min-width: 1024px) {
  .team {
    padding: 60px 5.86%;
  }
}
@media (min-width: 1440px) {
  .team {
    padding: 60px 4.167%;
  }
}
@media (min-width: 1920px) {
  .team {
    padding: 60px 8.334%;
  }
}
.team .team__body {
  border-radius: 12px;
  overflow: hidden;
  background: #F5F5FA;
}
.team .team__body .team__item {
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .team .team__body .team__item {
    flex-direction: row;
  }
}
.team .team__body .team__item .team__photo {
  display: flex;
  height: 500px;
}
@media (min-width: 1024px) {
  .team .team__body .team__item .team__photo {
    height: auto;
    width: 44.248%;
  }
}
@media (min-width: 1440px) {
  .team .team__body .team__item .team__photo {
    width: 30.304%;
  }
}
@media (min-width: 1920px) {
  .team .team__body .team__item .team__photo {
    width: 25%;
  }
}
@media (min-width: 2560px) {
  .team .team__body .team__item .team__photo {
    width: 18.762%;
  }
}
.team .team__body .team__item .team__photo--mod {
  background: url("../images/team/alexander_alexandrovsky.svg") no-repeat center center;
  background-size: cover;
}
.team .team__body .team__item .team__photo--spec {
  background: url("../images/team/oksana_kobzar.svg") no-repeat center center;
  background-size: cover;
}
.team .team__body .team__item .team__photo--add {
  background: url("../images/team/vladislav_melnik.svg") no-repeat center center;
  background-size: cover;
}
.team .team__body .team__item .team__info {
  display: flex;
  flex-direction: column;
  padding: 30px 9.525%;
}
@media (min-width: 768px) {
  .team .team__body .team__item .team__info {
    padding: 30px 4.63%;
  }
}
@media (min-width: 1024px) {
  .team .team__body .team__item .team__info {
    width: 55.753%;
    padding: 30px 3.32%;
  }
}
@media (min-width: 1440px) {
  .team .team__body .team__item .team__info {
    width: 69.697%;
    padding: 30px 2.273%;
  }
}
@media (min-width: 1920px) {
  .team .team__body .team__item .team__info {
    width: 75%;
    padding: 30px 1.875%;
  }
}
@media (min-width: 2560px) {
  .team .team__body .team__item .team__info {
    width: 81.238%;
    padding: 30px 1.4065%;
  }
}
.team .team__body .team__item .team__info .team__quote {
  margin: 5px 0 30px;
}
.team .team__body .team__item .team__info .team__name {
  color: #B3B3BA;
  font-weight: 700;
}
.team .team__body .team__item .team__info .team__role {
  margin-top: 6px;
  color: #B3B3BA;
  font-size: 0.875rem;
  line-height: 22px;
}
.team .team__body #team-card-one {
  display: flex;
}
.team .team__body #team-card-two {
  display: none;
}
.team .team__body #team-card-three {
  display: none;
}
.team .team__switch {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media (min-width: 1920px) {
  .clients {
    padding: 0 5.209%;
  }
}
.clients .clients__heading {
  text-align: center;
  padding-bottom: 30px;
}
.clients .clients__heading .clients__title {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}
.clients .clients__wrap {
  height: 720px;
  overflow-y: scroll;
}
@media (min-width: 768px) {
  .clients .clients__wrap {
    height: initial;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .clients .clients__wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1920px) {
  .clients .clients__wrap {
    border-radius: 12px;
  }
}
.clients .clients__wrap .clients__item {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients .clients__wrap .clients__item .clients__link {
  text-align: center;
}
.clients .clients__wrap #hillel {
  background: #1C4280;
  transition: 1s;
}
.clients .clients__wrap #hillel .clients__img {
  height: 48px;
  transition: 1s;
}
.clients .clients__wrap #hillel:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #hillel:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #wannabiz {
  background: #143646;
  transition: 1s;
}
.clients .clients__wrap #wannabiz .clients__img {
  height: 32px;
  transition: 1s;
}
.clients .clients__wrap #wannabiz:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #wannabiz:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #tapgerine {
  background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
  transition: 1s;
}
.clients .clients__wrap #tapgerine .clients__img {
  height: 44px;
  transition: 1s;
}
.clients .clients__wrap #tapgerine:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #tapgerine:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #threedlook {
  background: #9E4DC3;
  transition: 1s;
}
.clients .clients__wrap #threedlook .clients__img {
  height: 42px;
  transition: 1s;
}
.clients .clients__wrap #threedlook:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #threedlook:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #orangear {
  background: #FD9339;
  transition: 1s;
}
.clients .clients__wrap #orangear .clients__img {
  height: 44px;
  transition: 1s;
}
.clients .clients__wrap #orangear:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #orangear:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #adtelligent {
  background: #E2E2E4;
  transition: 1s;
}
.clients .clients__wrap #adtelligent .clients__img {
  height: 48px;
  transition: 1s;
}
.clients .clients__wrap #adtelligent:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #adtelligent:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #clickky {
  background: #C71C36;
  transition: 1s;
}
.clients .clients__wrap #clickky .clients__img {
  height: 61px;
  transition: 1s;
}
.clients .clients__wrap #clickky:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #clickky:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #eco-leasing {
  background: #DCF3F9;
  transition: 1s;
}
.clients .clients__wrap #eco-leasing .clients__img {
  height: 76px;
  transition: 1s;
}
.clients .clients__wrap #eco-leasing:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #eco-leasing:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #infratek {
  background: #EAEAEA;
  transition: 1s;
}
.clients .clients__wrap #infratek .clients__img {
  height: 60px;
  transition: 1s;
}
.clients .clients__wrap #infratek:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #infratek:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #city-par {
  background: #282240;
  transition: 1s;
}
.clients .clients__wrap #city-par .clients__img {
  height: 38px;
  transition: 1s;
}
.clients .clients__wrap #city-par:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #city-par:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #artprint {
  background: #1D4568;
  transition: 1s;
}
.clients .clients__wrap #artprint .clients__img {
  height: 46px;
  transition: 1s;
}
.clients .clients__wrap #artprint:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #artprint:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap #ultimatecard {
  background: #000;
  transition: 1s;
}
.clients .clients__wrap #ultimatecard .clients__img {
  height: 95px;
  transition: 1s;
}
.clients .clients__wrap #ultimatecard:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.clients .clients__wrap #ultimatecard:hover .clients__img {
  transform: scale(1.1);
  transition: 0.5s;
}
.clients .clients__wrap::-webkit-scrollbar {
  width: 0;
}
.clients .clients__wrap {
  -ms-overflow-style: none;
}

.publications {
  display: flex;
  flex-direction: column;
  padding: 30px 8%;
  gap: 30px;
  background: #F5F5FA;
}
@media (min-width: 768px) {
  .publications {
    padding: 30px 7.813%;
  }
}
@media (min-width: 1024px) {
  .publications {
    padding: 30px 5.86%;
  }
}
@media (min-width: 1440px) {
  .publications {
    padding: 30px 4.167%;
  }
}
@media (min-width: 1920px) {
  .publications {
    margin-top: 60px;
    padding: 30px 8.334%;
  }
}
.publications .publications__heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 768px) {
  .publications .publications__heading {
    gap: 10px;
  }
}
.publications .publications__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .publications .publications__body {
    display: grid;
    grid-template-areas: "A B" "C C";
  }
}
@media (min-width: 1024px) {
  .publications .publications__body {
    grid-template-areas: "A B C";
  }
}
.publications .publications__body .publications__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  overflow: hidden;
}
.publications .publications__body .publications__item .publications__cover {
  height: 200px;
}
.publications .publications__body .publications__item .publications__cover--mod {
  background: url("../images/publications/meeting.png") no-repeat center center;
  background-size: cover;
}
.publications .publications__body .publications__item .publications__cover--spec {
  background: url("../images/publications/gdpr.png") no-repeat center center;
  background-size: cover;
}
.publications .publications__body .publications__item .publications__cover--add {
  background: url("../images/publications/team.png") no-repeat center center;
  background-size: cover;
}
.publications .publications__body .publications__item .publications__info {
  padding: 30px 9.525%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #FFF;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .publications .publications__body .publications__item .publications__info {
    padding: 30px 9.71%;
  }
}
@media (min-width: 1024px) {
  .publications .publications__body .publications__item .publications__info {
    padding: 30px 10.665%;
  }
}
@media (min-width: 1440px) {
  .publications .publications__body .publications__item .publications__info {
    padding: 30px 7.145%;
  }
}
@media (min-width: 1920px) {
  .publications .publications__body .publications__item .publications__info {
    padding: 30px 5.845%;
  }
}
.publications .publications__body .publications__item .publications__info .publications__subtitle {
  color: #24A3FF;
  font-weight: 700;
}
.publications .publications__body .publications__item .publications__info .publications__date {
  color: #B3B3BA;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.publications .publications__body .publications__item .publications__info .publications__text {
  padding-top: 15px;
  border-top: 4px solid #E6E6F0;
  color: #000;
  font-size: 0.875rem;
  line-height: 22px;
}
.publications .publications__body .publications__item--mod {
  grid-area: A;
}
.publications .publications__body .publications__item--spec {
  grid-area: B;
}
.publications .publications__body .publications__item--add {
  grid-area: C;
}
@media (min-width: 768px) {
  .publications .publications__body .publications__item--add .publications__info {
    padding: 30px 4.63%;
  }
}
@media (min-width: 1024px) {
  .publications .publications__body .publications__item--add .publications__info {
    padding: 30px 10.665%;
  }
}
@media (min-width: 1440px) {
  .publications .publications__body .publications__item--add .publications__info {
    padding: 30px 7.145%;
  }
}
@media (min-width: 1920px) {
  .publications .publications__body .publications__item--add .publications__info {
    padding: 30px 5.845%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 8% 30px;
  background: #F5F5FA;
  gap: 30px;
}
@media (min-width: 768px) {
  .footer {
    padding: 30px 7.813%;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 30px 5.86%;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 30px 4.167%;
  }
}
@media (min-width: 1920px) {
  .footer {
    padding: 30px 8.334%;
  }
}
.footer .contacts {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  border-top: 2px solid #E6E6F0;
}
.footer .contacts .contacts__wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .footer .contacts .contacts__wrap {
    flex-direction: row;
    align-items: center;
  }
}
.footer .contacts .contacts__wrap .address {
  color: #323264;
}
.footer .contacts .contacts__wrap .address:hover {
  color: #B3B3BA;
}
.footer .contacts .contacts__wrap .dot-separator {
  display: none;
}
@media (min-width: 768px) {
  .footer .contacts .contacts__wrap .dot-separator {
    display: flex;
  }
}
.footer .contacts .contacts__wrap .location {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer .contacts .contacts__wrap .location .location__link {
  color: #24A3FF;
}
.footer .contacts .contacts__wrap .location .location__link:hover {
  color: #F0145A;
}
.footer .contacts .contacts__wrap .social-network {
  display: flex;
  justify-content: center;
}
.footer .contacts .contacts__wrap .social-network:hover path {
  fill: #F0145A;
}
.footer .contacts .contacts__wrap .social-network__img {
  transform: rotate(-360deg);
  transition: 1.5s;
}
.footer .contacts .contacts__wrap .social-network__img:hover {
  transform: rotate(360deg);
  transition: 1.5s;
}
.footer .contacts .contacts__wrap .call {
  font-weight: 700;
}
.footer .contacts .contacts__wrap .call .call__link {
  color: #46466E;
}
.footer .contacts .contacts__wrap .call:hover {
  transform: rotateY(360deg);
  transition: 1.5s;
}
.footer .contacts .contacts__wrap .call:active .call__link {
  color: #F0145A;
}
.footer .contacts .contacts__wrap .mail {
  font-weight: 700;
}
.footer .contacts .contacts__wrap .mail .mail__link {
  color: #24A3FF;
}
.footer .contacts .contacts__wrap .mail .mail__link:hover {
  color: #F0145A;
}
.footer .policy {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer .policy {
    position: absolute;
    padding-top: 32px;
    right: 7.813%;
  }
}
@media (min-width: 1024px) {
  .footer .policy {
    right: 5.86%;
  }
}
@media (min-width: 1440px) {
  .footer .policy {
    right: 4.167%;
  }
}
@media (min-width: 1920px) {
  .footer .policy {
    right: 8.334%;
  }
}
.footer .policy .policy__text {
  color: #B3B3BA;
}
.footer .policy .policy__text:hover {
  cursor: pointer;
}

.header .contacts--mod {
  background: #F5F5FA;
}
@media (min-width: 768px) {
  .header .contacts--mod {
    background: #FFF;
  }
}
.header .contacts--mod .address .address__link:hover {
  color: #323264;
}
.header .contacts--mod .call .call__link--mod {
  color: #B3B3BA;
}
.header .logotype--mod {
  background: #FFF;
}
.header .logotype--mod .slash {
  display: flex;
  z-index: 3;
}
.header .logotype--mod .slash .slash__img {
  width: -moz-fit-content;
  width: fit-content;
  height: 26px;
}
@media (min-width: 768px) {
  .header .logotype--mod .slash .slash__img {
    height: 47px;
  }
}
.header .logotype--mod .section-menu {
  display: flex;
  z-index: 4;
}
@media (min-width: 768px) {
  .header .logotype--mod .section-menu {
    font-size: 2.25rem;
  }
}
.header .logotype--mod .section-menu .section-menu__text {
  color: #323264;
}
.header .logotype--mod .section-menu .section-menu__text:hover {
  cursor: pointer;
}
.header .menu .button-burger--mod:active {
  background: #E6E6F0;
}
.header .menu .popup-nav .nav--mod .nav__item .nav__link {
  color: #24A3FF;
}
.header .menu .popup-nav .nav--mod .nav__item .nav__link--mod {
  color: #F0145A;
}
.header .menu .popup-nav .nav--mod .nav__item .nav__link--mod:hover {
  cursor: default;
}
@media (min-width: 768px) {
  .header .menu .popup-nav .nav--mod .nav__item .nav__line {
    background: #24A3FF;
  }
}
.header .menu .popup-nav .nav--mod .nav__item .nav__line--mod {
  background: #F0145A;
}
@media (min-width: 768px) {
  .header .menu .popup-nav .nav--mod .nav__item .nav__line--mod {
    width: 100%;
  }
}
.header .menu .popup-nav .nav--mod .nav__item--mod:active {
  background: #F5F5FA;
}

.publications--mod {
  margin-top: 102px;
}
@media (min-width: 768px) {
  .publications--mod {
    margin-top: 280px;
  }
}
@media (min-width: 1024px) {
  .publications--mod {
    margin-top: 176px;
  }
}
.publications--mod .publications__heading .switch {
  margin: 0 auto;
  padding: 2px;
  background: #E6E6F0;
  border-radius: 12px;
  gap: 2px;
}
.publications--mod .publications__heading .switch .switch__item {
  padding: 8px 30px 10px;
  color: #323264;
  font-weight: 700;
  border-radius: 10px;
  transition: 0.5s;
}
.publications--mod .publications__body {
  transition: 0.5s;
}
@media (min-width: 768px) {
  .publications--mod .publications__body {
    grid-template-areas: "A B" "C D" "E F";
  }
}
@media (min-width: 1024px) {
  .publications--mod .publications__body {
    grid-template-areas: "A B C" "D E F";
  }
}
.publications--mod .publications__body .publications__item--improv .publications__cover--improv {
  background: url("../images/publications/lang_and_law.png") no-repeat center center;
  background-size: cover;
}
.publications--mod .publications__body .publications__item--change .publications__cover--change {
  background: url("../images/publications/kindergarten_and_school.png") no-repeat center center;
  background-size: cover;
}
.publications--mod .publications__body .publications__item--improv {
  grid-area: D;
}
.publications--mod .publications__body .publications__item--change {
  grid-area: E;
}
.publications--mod .publications__body .publications__item--option {
  grid-area: F;
}
.publications--mod .publications__button {
  margin: 0 auto;
  padding: 18px 9.525%;
  border-radius: 12px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  font-weight: 700;
}
@media (min-width: 768px) {
  .publications--mod .publications__button {
    padding: 18px 4.63%;
  }
}
@media (min-width: 1024px) {
  .publications--mod .publications__button {
    padding: 18px 3.32%;
  }
}
@media (min-width: 1440px) {
  .publications--mod .publications__button {
    padding: 18px 2.273%;
  }
}
@media (min-width: 1920px) {
  .publications--mod .publications__button {
    padding: 18px 1.875%;
  }
}
.publications--mod .publications__button .button__link {
  color: #FFF;
}
.publications--mod .publications__button:hover {
  background: #0085FF;
  cursor: pointer;
}
.publications--mod .publications__button:active {
  background: #006CCF;
}

@media (min-width: 768px) {
  .footer--mod .contacts {
    padding: 30px 19.136% 0;
  }
}
@media (min-width: 1024px) {
  .footer--mod .contacts {
    padding: 30px 0 0;
  }
}
@media (min-width: 768px) {
  .footer--mod .policy {
    position: static;
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .footer--mod .policy {
    position: absolute;
    padding-top: 32px;
  }
}

.team--mod {
  margin-top: 102px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .team--mod {
    margin-top: 220px;
    gap: 60px;
  }
}
@media (min-width: 1024px) {
  .team--mod {
    margin-top: 116px;
  }
}
@media (min-width: 1024px) {
  .team--mod .team__title {
    padding: 0 13.275%;
  }
}
@media (min-width: 1440px) {
  .team--mod .team__title {
    padding: 0 9.092%;
  }
}
@media (min-width: 1920px) {
  .team--mod .team__title {
    padding: 0 7.5%;
  }
}
.team--mod .team__title .team__quote--improv,
.team--mod .team__title .team__quote--add,
.team--mod .team__title .team__quote--change,
.team--mod .team__title .team__quote--spec,
.team--mod .team__title .team__quote--option {
  display: none;
}
.team--mod .team__body {
  display: flex;
  flex-direction: column;
  background: #FFF;
  gap: 30px;
}
@media (min-width: 768px) {
  .team--mod .team__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
@media (min-width: 1024px) {
  .team--mod .team__body {
    grid-template-columns: repeat(3, 1fr);
  }
}
.team--mod .team__body .team__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.team--mod .team__body .team__item .team__photo {
  height: 300px;
  border-radius: 12px;
}
@media (min-width: 768px) {
  .team--mod .team__body .team__item .team__photo {
    width: 100%;
    height: 400px;
  }
}
.team--mod .team__body .team__item .team__photo--improv {
  background: url("../images/team/evgeny_patrikov.svg") no-repeat center center;
  background-size: cover;
}
.team--mod .team__body .team__item .team__photo--change {
  background: url("../images/team/sergey_binn.svg") no-repeat center center;
  background-size: cover;
}
.team--mod .team__body .team__item .team__photo--option {
  background: url("../images/team/julia_wolk.svg") no-repeat center center;
  background-size: cover;
}
.team--mod .team__body .team__item .team__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team--mod .team__body .team__item .team__wrap .team__info {
  padding: 0;
}
.team--mod .team__body .team__item .team__wrap .team__info .team__name {
  color: #323264;
}
.team--mod .team__body .team__item .team__wrap .team__info .team__name:hover {
  color: #F0145A;
}
.team--mod .team__body .team__item .team__wrap .btn-scroll-up .btn-scroll-up__img {
  transition: 0.5s;
}
.team--mod .team__body .team__item .team__wrap .btn-scroll-up .btn-scroll-up__img:hover circle {
  fill: #EDEDF7;
}
.team--mod .team__body .team__item .team__wrap .btn-scroll-up .btn-scroll-up__img:hover path {
  stroke: #F0145A;
}
.team--mod .team__body .team__item .team__wrap .btn-scroll-up .btn-scroll-up__img:hover {
  transform: rotate(-90deg);
  cursor: pointer;
  transition: 0.5s;
}
.team--mod .team__body .team__item .team__wrap .btn-scroll-up .btn-scroll-up__img:active {
  transform: scale(0.9) translateY(-10px) rotate(-90deg);
  transition: 0.3s;
}

.footer--spec .contacts {
  padding-top: 0;
  border-top: none;
}/*# sourceMappingURL=style.css.map */